@import "bootstrap-icons/font/bootstrap-icons.css";
@import './base.css';

#app {
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

form div[role="alert"] {
  color: var(--danger) !important;
}

.navigation-drawer {
  min-width: 75vw !important;
  position: absolute;
  z-index: 9999;
  background-color: #ef6c00 !important;
}

.snackbar {
  top: 64px;
  div[role=status] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
  }

  &--failure {
    div[role=status] {
      background-color: red;
    }
  }
}

.snackbar span {
  cursor: pointer;
}